* {
  margin: 0;
  padding: 0;
}
#glift_display1 {
  position: relative;
  width: 100%;
  height: 500px;
  /* width:100%; */
  /* height:100%; */
}
body {
  height:100%;
  position:relative;
}
#type_selector {
  float:left;
  position:relative;
  z-index:0;
}
.zinline {
  display: inline;
}
